.news-item {
    height: 10rem;
    width: 15rem;
    border-radius: 1rem;
    background-color: white;
    display: flex;
    flex-direction: column;
    padding: 0.7rem;
}

.news-preview {
    height: 90%;
    overflow-y: auto;
}

.news-item > button {
    height: 1.5rem;
    width: 95%;
    align-self: center;
    background-color: #2d4eb1;
    color: white;
    border: none;
    border-radius: 0.1rem;
}