.breadcrumbs-text {
    display: inline;
    color: #112C57;
    font-size: 1.4rem;
    text-align: center;
    white-space: normal; /* Разрешает перенос текста */
    word-wrap: break-word; /* Перенос слов */
}

.breadcrumbs-text > a {

}

.breadcrumbs-text > a:visited {
    color: #112C57;
    text-decoration: none;
}

.breadcrumbs-link {
    text-align: center;
    text-decoration: none;
}