.layout-wrapper {
    background-image: url(../../assets/img/layout/back.png);
    background-size: 100% 100%; /* Изображение будет масштабироваться, чтобы покрыть весь экран */
    background-repeat: no-repeat; /* Изображение не будет повторяться */
    background-attachment: fixed; /* Фон будет фиксированным при прокрутке страницы */
    background-position: center; /* Изображение будет центрировано */
    height: 100vh;
    display: flex;
    min-width: 1024px;
    font-family: Arial, Helvetica, sans-serif;
}

.sidebar-nav{
    background-color: #2D4EB1;
    height: 100vh;
    width: 6rem;
}

#layout-content {
    display: flex;
    flex-direction: column;
    padding: 3rem;
    width: 100%;
    flex-grow: 1;
    --min-width: 850px;
}

header {
    min-width: var(--min-width);
}

.wrapper-name-section{
    min-width: var(--min-width);
    display: flex;
    flex-direction: column;
}

.crumbs{
    display: flex;
    flex-direction: row;
}

.crumbs > a{
    color : #423185;
}

.name-page{
    line-height: 10px;
    height: 40px;
    display: flex;
    margin-top: 30px;
    color : #423185;
}

.name-page > h1{
    margin-right: 15px;
}

.equipments{
    min-width: var(--min-width);
    width: 70vw;
    display: flex;
    flex-direction: column;
    height: 100%;
}

.equipments > h2{
    color: #423185;
}
