
.list-equipment-about{
    padding: 0.6rem;
    border-radius: 0.6rem;
    margin-top: 1rem;
    background-color: #EBECEC;
    min-width: 80%;
    flex-grow: 1;
    margin-bottom: 1rem;
    overflow-y: auto;
}

.name-equipment-about{
    margin-left: 20px;
}