
.environment-model-details{
    padding: 0.6rem;
    border-radius: 0.6rem;
    margin-top: 1rem;
    background-color: #EBECEC;
    min-width: 80%;
    flex-grow: 1;
    margin-bottom: 1rem;
    overflow-y: auto;
}

.common-template1-fox-img {
    position: absolute;
    width: 300px;
    right: 2%;
    bottom: 4%;
}

@media (max-width: 1600px) {
    .common-template1-fox-img {
        display: none;
    }
}

.environment-model-title {
    font-size: 2rem;
    margin-bottom: 1rem;
}

/*
.environment-model-details{
    margin-left: 20px;
}*/
