.environment-nav-element {
    display: flex;
    align-items: center;
    list-style-type: none;
    height: 3rem;
}

.list-nav-for-equipments{
    font-size: 1.1rem;
    padding: 0 0.7rem;
    color: #2D4EB1;
    text-decoration: none;
}

.environment-nav-element:hover{
    background-color: #C5C6C6;
    border-radius: 0.5rem;
}

.selected{
    background-color: #C5C6C6;
    border-radius: 0.8rem;
}