.sidebar-nav {
    background-color: #2D4EB1;
    height: 100vh;
    width: 6rem;
    transition: width 0.3s;
    overflow: hidden;
    position: fixed; /* <-- добавляем */
    top: 0;
    left: 0;
    z-index: 1000; /* поверх контента */
}

.sidebar-nav:hover {
    width: 300px;
    opacity: 95%;
}