.caption-wrapper {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
}

.test-title {
    color: #423185;
}

.test-button-wrapper {
    display: flex;
    justify-content: end;
}
